In [1]:
# importing necessary python libraries required to perform web scrapping

import bs4
# beautiful soup

from bs4 import BeautifulSoup

import requests
# requests library is used to request access over html

import pandas as pd
# pandas to create a data frame

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_video_game_developers'

response = requests.get(url) # .get() fuction is used to get data from the website

if response.status_code ==200:
    print("Request Successful")
else:
    print("Access denied")

Request Successful

In [3]:
soup = BeautifulSoup(response.text,'html') # parser = html

table = soup.find_all('table')[4] # since table is fifth index as per web inspection
table_columns = table.find_all('th') # th stands for table header
required_column_name = [column.text.strip() for column in table_columns] # iterating through each column and striping
required_column_name

['Developer',
 'City',
 'Administrative division',
 'Country',
 'Est.',
 'Notable games, series or franchises',
 'Notes']

In [4]:
# creating a dataframe with these columns
master_df = pd.DataFrame(columns= required_column_name)
master_df

Empty DataFrame
Columns: [Developer, City, Administrative division, Country, Est., Notable games, series or franchises, Notes]
Index: []

In [5]:
table_rows = table.find_all('tr') # tr-- stands for table rows
for row in table_rows[1:]: # iterating through rows
    rows = row.find_all('td') # finding the row data
    individual_rows = [data.text.strip() for data in rows] # striping the row data
    if len(individual_rows) == len(required_column_name):
        master_df.loc[len(master_df)] = individual_rows

In [6]:
master_df.head()

,Developer,City,Administrative division,Country,Est.,"Notable games, series or franchises",Notes
0,0verflow,Tokyo,,Japan,1997,School DaysSummer DaysCross Days,Visual Novel brand (both developer and publisher)
1,11 bit studios,Warsaw,Masovian Voivodeship,Poland,2010,This War of MineFrostpunk,Indie developer/publisher
2,1C Company,Moscow,,Russia,1991,King's Bounty: Warriors of the North,"The company still exists, but Snowball Studios..."
3,1-Up Studio,Tokyo,,Japan,2000,Mother 3,Subsidiary of Nintendo. Formed by former emplo...
4,2K Czech,Brno,,Czech Republic,1997,MafiaMafia II,Former subsidiary of 2K; previously known as I...